@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');

html,
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

