
.sobre {
    background: rgba(88, 22, 22, 0.60);
    padding-top: 96px;
    padding-left: 151px;
    padding-bottom: 96px;
}

.sobre h2 {
    color: #0D0D0D;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sobre-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 265px;
    gap: 100px;
}

.sobre-items p {
    margin-top: 50px;
    padding: 80px;
    max-width: 1000px;
    color: #f2f2f2;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 50px;
    /* 166.667% */
}

.sobre-items img {
    margin-top: 50px;
    place-self: center;
    opacity: 75%;
}


@media screen and (max-width: 450px) {
    .sobre {
        margin: 0px;
        padding-left: 0px;
    }
    .sobre-items {
        gap: 0px;              
    }

    .sobre-items img {
        max-width: 300px;        
    }

    .sobre h2 {
        padding-left: 50px;
    }
    .sobre p {
        font-size: 20px;
        line-height: 30px;
        margin: 0;
        min-width: 350px;
        padding-left: 50px;
    }    
}