{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urucum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">

</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="{% url 'index' %}">
            <img src="{% static '/assets/favicon/marca.png' %}" alt="logo-urucum"></a>
        </div>
        <div class="menu_nav">
            <nav class="navbar">
                <div class="container-fluid">
                    <ul class="nav nav-underline flex-column flex-sm-row">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">INÍCIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sobre">QUEM SOMOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#rodape">CONTATO</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-light" href="#">INSCREVA-SE</a>
                        </li>
                        <li class="nav-item">
                            <form class="d-flex" role="search">
                                <input class="form-control-lg me-2" type="search" placeholder="Pesquisar..."
                                    aria-label="Search">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
            <span>
                <a class="icon-lupa" href="#">
                    <img src="{% static '/assets/favicon/lupa.png' %}" width="32" alt="lupa"></a>
                <a class="icon-car" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                    <img src="{% static '/assets/favicon/carrinho-de-compras-icon.png' %}" width="32" alt="carrinho"></a>
                <a class="icon-perfil" href="#" >
                    <img src="{% static '/assets/favicon/perfil-icon.png' %}" width="32"  alt="perfil"></a>
            </span>
        </div>
    </header>

    <section class="acesso_rapido">
        <div class="acesso_rapido_margens">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="/" class="acesso_rapido_item">
                            <img src="{% static '/assets/favicon/etiqueta-de-desconto 2.png' %}" alt="ofertas">
                            <h3>OFERTAS</h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="https://api.whatsapp.com/send/?phone=5521998003021&text&type=phone_number&app_absent=0"
                            class="acesso_rapido_item">
                            <img src="{% static '/assets/favicon/pedir-comida.png' %}" alt="pedidos">
                            <h3>PEÇA JÁ</h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="{% url 'cardapio' %}" class="acesso_rapido_item">
                            <img src="{% static '/assets/favicon/cardapio 1.png' %}" alt="cardapio">
                            <h3>CARDÁPIO</h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="acesso_rapido_item" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                            <img src="{% static '/assets/favicon/carrinho-de-compras.png' %}" alt="carrinho">
                            <h3>CARRINHO</h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="acesso_rapido_item" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="{% static '/assets/favicon/fast-delivery.png' %}" alt="delivery">
                            <h3>ENTREGAS</h3>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="/" class="acesso_rapido_item">
                            <img src="{% static '/assets/favicon/perfil.png' %}" alt="perfil">
                            <h3>MEU PERFIL</h3>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>

        <!-- Imagens laterais -->
        <span class="obj_lateral_topo">
            <img src="{% static '/assets/img/obj_lateral_01_tempero.png' %}" class="obj_lateral_01_tempero" alt="tempero decor">
            <img src="{% static '/assets/img/obj_lateral_04_cebola.jpg' %}" class="obj_lateral_04_cebola" alt="cebola decor">
            <img src="{% static '/assets/img/obj_lateral_08_lentilha.png' %}" class="obj_lateral_08_lentilha" alt="Lentilhas">
            <img src="{% static '/assets/img/obj_lateral_07_salsa.png' %}" class="obj_lateral_07_salsa" alt="Salsa">

        </span>

    </section>

    {% block content %}{% endblock %}

    <footer class="rodape" id="rodape">

        <div class="marca">
            <img src="{% static '/assets/favicon/marca-logo.png' %}" alt="logomarca">
            <p>comida equilibrada de <br> verdade & sem crueldade</p>
        </div>

        <!-- Menu de Links -->
        <div>
            <nav>
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">INÍCIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#PRATOS">NOSSOS PRATOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">OFERTAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre">SOBRE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">DÚVIDAS FREQUENTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="https://api.whatsapp.com/send/?phone=5521998003021&text&type=phone_number&app_absent=0">PEÇA
                            JÁ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">INSCREVA-SE</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Imagens laterais -->
        <div>
            <ul class="nav links">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/urucum.vegano/">
                        <img src="{% static '/assets/favicon/instagram.png' %}" alt="instagram">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        href="https://api.whatsapp.com/send/?phone=5521998003021&text&type=phone_number&app_absent=0">
                        <img src="{% static '/assets/favicon/whatsapp.png' %}" alt="whatsapp">
                    </a>
                </li>
            </ul>
        </div>

        <span class="obj_lateral_base">
            <img src="{% static '/assets/img/obj_lateral_03_alho.jpg' %}" class="obj_lateral_03_alho" alt="Alho">
            <img src="{% static '/assets/img/obj_lateral_02_gengibre.jpg' %}" class="obj_lateral_02_gengibre" alt="Gengibre">
            <img src="{% static '/assets/img/obj_lateral_05_tomate.jpg' %}" class="obj_lateral_05_tomate" alt="Tomate">
        </span>

    </footer>

    <!-- Faixa de Autoria -->
    <div class="faixa">
        <p>Alguns direitos reservados | Desenvolvido por Cíntia Brito</p>
        <a href="https://github.com/CinBrito">
            <img src="{% static '/assets/favicon/github.png' %}" alt="github">
        </a>
        <a href="https://www.linkedin.com/in/cinbrito/">
            <img src="{% static '/assets/favicon/linkedin.png' %}" alt="linkedin">
        </a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-4" id="exampleModalLabel">NOSSAS ENTREGAS</h1>
            <div data-bs-theme="dark">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
          </div>
          <div class="modal-body">
              <p>Catete | Glória | Flamengo | Botafogo - Entrega Grátis<br>
            Demais Bairros Zona Sul & Centro - Entrega R$5,00<br>
              Zona Norte - Taxa Variável (Uber/99)</p>
          </div>
          <!--<div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">FECHAR</button>
          </div> -->
        </div>
      </div>
    </div>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Carrinho</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <p>Try scrolling the rest of the page to see this option in action.</p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="{% static '/styles/swiper-bundle.min.js' %}"></script>
    <script src="{% static '/styles/script.js' %}"></script>

</body>

</html>