@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200&display=swap');

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.acesso_rapido {
    background-color: rgba(88, 22, 22, 0.60);
}

.acesso_rapido_margens {
    margin-right: 500px;
    margin-left: 500px;
    padding: 45px 0;    
}

.acesso_rapido_item {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 9px;
}

.acesso_rapido_item img {
  width: auto;  
  height: 154px;
    padding: 30px;
    border-radius: 50%;
    border: 3px solid #f2f2f2 ;
}

.acesso_rapido_item h3 {
    color: #f2f2f2;
    font-size: 23px;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }

  .acesso_rapido_margens {
    margin-right: 0;
    margin-left: 0;
    padding: 45px 0;    
}
.acesso_rapido_item img {
  width: auto;
  height: 104px;
  padding: 10px;
  border: 2px solid #f2f2f2 ;
}
.acesso_rapido_item h3 {
  font-size: 13px;
}
}